
/*General Styles*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.blankpage {
	height: 600px;
}


body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	font-size: 20px;
	color: white;
	text-decoration: none;
}

p {
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.button {
	display: block;
	padding: 7px;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 20px;
	border-bottom: solid 2px #ddd;
	text-align: center;
	width: 200px;
	margin-top: 20px;
}

.yellow {
	background-color: #fdf731;
	color: #000;
}

.contact {
	background-color: #fdf731;
	color: #000;
}


/* Float fix */
.clearfix::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}


/*header*/
header {
	background-color: #000;
	border-bottom: solid #fdf731 5px;
	height: 70px;
	padding-right: 50px;

}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: 700;
	color: #fdf731;
	float: left;
	padding-top: 15px;
	padding-left: 5%;
}

nav {
	float: right;
}



/*mouseover nav*/
a:hover {
	background-color: #c6c6c6;
}


a.uppercase {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding: 15px 5px 15px 5px;
	margin-left: 5px;
}

a.caps {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	padding: 15px 5px 15px 5px;
	margin-left: 5px;
}



/*footer*/

footer {
	background-color: #000;
	height: 50px;
	padding-top: 20px;
	padding-left: 50px;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.copyright {
	color: white;
}

